body {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  line-height: 3em;
}

h1 {
  color: green;
  align-self: center;
}

.challengeList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge {
  border-radius: 1em;
  border-style: solid;
  max-width: 60%;
  padding: 2em;
  margin: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.challengeTitle {
  font-size: larger;
  border: 1px green groove;
  border-radius: 10em;
  padding: 1em;
  margin: 1em;
  background-color: aqua;
}

.moveChallenge {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 10em;
  font-family: Roboto, sans-serif;
}

.box {
  display: flex;
  border: blue 2px;
  border-style: dashed;
  padding: 3em;
  margin: 1em;
  width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
}

.target {
  border: blue 2px;
  border-style: groove;
  max-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  max-width: 30em;
  min-width: 10em;
  text-align: center;
}

.results th,
.results td {
  border: black 1px;
  border-style: double;
  max-width: 30em;
  min-width: 10em;
}

#theThing {
  min-width: 32px;
  max-width: 32px;
}
